body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.banner-container {
    position: relative;
    width: 100%;
    max-width: 900px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.banner-image {
    width: 100%;
    height: auto;
    display: block;
    filter:blur(1px);
}

.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    padding: 20px;
    background: transparent;
    border-radius: 10px;
}

.banner-content h1 {
    font-size: 30px;
    margin-bottom: 10px;
}

.banner-content p {
    font-size: 1rem;
    margin-bottom: 20px;
    line-height: 1.5;
}

.explore-button {
    background-color: white;
    color: black;
    font-size: 1rem;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.explore-button:hover {
    background-color: #ddd;
}
